<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Custom suite">
    <test verbose="1" name="TestProject" annotations="JDK">
        <classes>
            <class name="com.lux.tpr.tests.OpenGoogle"/>
        </classes>
    </test>
</suite>